<!DOCTYPE html>
<html style="height: auto !important; min-height: 100rem" lang="en">
<head>
    <title id="page_title">@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style.css">
    <script src="~/Scripts/script.js"></script>
    <style type="text/css">
        @@media screen and (max-width: 1100px) {
            .welcomebox {margin: 0px 20px 100px 20px; }
            .rev_cont { margin: 50px 0% 0px 0%; width: 100%; height: 760px; }
            .rev_half { width: 100%; }
            .rev_img { height: 200px; overflow: hidden; }
            .mod { margin-right: 20%; }
            .rev_opt { height: 40px; padding: 0px; padding-top: 5px; }
            .rev_title { text-align: center; }
            .appo_text {
                width: inherit;
                float: none;
                box-sizing: border-box;
                height: 550px;
                margin-top: 10px;
            }
            .appo_form {
                width: 100%;
                float: none;
                box-sizing: border-box;
            }
            .menu2 { display: block; }
            .welcomemsg { margin-bottom: 50px; }
            .bottomnavbar div { width: 100% !important; padding-left: 0px; padding-right: 0px; }
            .nav { display: none; }
            .rev_cont { margin-top: 0px !important; }
            .visitoraccinfo { display: none; }
            .searchcont { position: absolute; top: 10px; right: 10px }
            .searchfield {
                width: 240px;
            }

                .searchfield:hover {
                    width: 410px;
                }

                .searchfield:focus {
                    width: 410px;
                }
        }
    </style>
</head>
<body style="overflow-y: scroll">
    <div style="background-color: rgba(0, 0, 0, 0.7); z-index: -1; position: fixed; top: 0; left: 0; height: 100%; width: 100%"></div>
    <div class="highlight" style="top: 0px"></div>
    <div style="margin: 0px; height: auto !important; min-height: 100rem">
        <div style="padding: 10px; background-color: white; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8); padding-right: 30px">
            <!--Logo-->
            <span><img src="../Images/sidmach.png" alt="logo" width=100 height=40 style="margin: 20px 0px 15px 30px;"></span>

            <!--Ignore the 'menu1' class. Its no more a menu. Now its account info :P -->
            <div class="menu1">
                <div class="visitoraccinfo" style="width: 300px; height: 60px; box-shadow: 0px 0px 10px rgba(0,0,0,0.7); border-radius: 10px; float: right; margin: 11px 0px 10px 10px">
                    <div style="float: left; padding-top: 20px"><h3 class="font1" style="display: inline; padding: 25px 0px 20px 20px; margin: 0px; color: dimgray">Joshua Agboola</h3></div>
                    <span style="float: right"><img src="../Images/acc_icon2.png" alt="logo" width=40 height=40 style="margin: 10px 20px 10px 0px;"></span>
                    <!--Acccount Info-->
                    <div class="visitoraccinfobox">

                    </div>
                </div>
                <!--Search Bar-->
                <div class="searchcont" style="padding: 0px 30px 22px 30px; height: 80px; float: right; overflow-y: hidden">
                    <form>
                        <input class="font5 searchfield" type="text" placeholder="Search Pages and Functions...">
                    </form>
                </div>
            </div>
        </div>

        <!--Alternate Navigation Menu. For smaller screens :) -->
        <div class="menu2">
            <h4 class="font5 linkwhite" style="color: dimgray; text-align: center; margin-top: 30px"><pre class="font5">@Html.ActionLink("Contact", "Contact")     |     @Html.ActionLink("Feedback", "Feedback")     |     @Html.ActionLink("Appointment", "Appointment")</pre></h4>
        </div>

        @RenderBody()

    </div>

    <div class="bottomnavbar">
        <!--Navigation-->
        <div class="nav" style="float: right; width: 50%; margin: 0px; padding: 0px">
            <div style="float: right; margin: 12px 20px 0px 20px; padding: 0px">
                <h4 id="Appointment" class="font5 linkgray" style="color: dimgray; padding: 13px 10px 0px 10px; margin: 0px">@Html.ActionLink("Appointment", "Appointment")</h4>
            </div>
            <div style="float: right; margin: 12px 20px 0px 20px; padding: 0px">
                <h4 id="Feedback" class="font5 linkgray" style="color: dimgray; padding: 13px 10px 0px 10px; margin: 0px">@Html.ActionLink("Feedback", "Feedback")</h4>
            </div>
            <div style="float: right; margin: 12px 20px 0px 20px; padding: 0px">
                <h4 id="Contact" class="font5 linkgray" style="color: dimgray; padding: 13px 10px 0px 10px; margin: 0px">@Html.ActionLink("Contact", "Contact")</h4>
            </div>
            <!--Script enlarges the links for the current page-->
            <script>
                x = document.getElementById("page_title").innerHTML;
                document.getElementById(x).style.fontSize = "30px";
                document.getElementById(x).style.marginTop = "0px";
                document.getElementById(x).style.padding = "5px 10px 0px 10px";
            </script>
        </div>

        <!--Footer Text-->
        <div style="float: left; width: 50%; margin: 0px; padding: 22px 30px 30px 30px">
            <h3 id="footer_text" style="color: dimgray; font-family: Momcake; display: inline; text-align: center">&#169 2021 SIDMACH TECHNOLOGIES. All Rights Reserved.</h3>
        </div>
    </div>

    <div class="highlightd" style="bottom: 0px"></div> <!--Green Line-->
</body>
</html>